# Ignore .env file
.env

# Ignore cache and logs
writable/cache/*
writable/logs/*
writable/debugbar/*
writable/session/*
writable/etiket/*

# Ignore vendor and composer lock file
vendor/
composer.lock

public/admin/*
public/img/*

# Ignore IDE specific files
.vscode/
.idea/


# Ignore other OS-specific files
.DS_Store
Thumbs.db
